html, body {
    height: 100%;
    width:100%;

}

button {
    position:absolute;
    top:10px;
    left:10px;
    visibility:hidden;

}

.col {
    display:inline-block;
    vertical-align: top;
    margin:40px 40px;
    height: 100%;
}
    
    

#timeline {
    width:1400px; 
    height: 100px;
}

.user {
    color:black;
}

ul {
    font-size:120%;
    margin:0;
    padding:0;
    list-style: none;
}

ul legend {
    font-weight: bold;
}

ul li {
    margin:10px;
}