html,body {
    margin:25px auto;
    background-color: rgb(247,248,249)
}

h1#title {
    margin:10px 50px;
}

#controls {
    margin:10px 50px;
    width: 796px;
}

#controls #counter {
    color:#666;
    padding-left:2px;
}

#controls button {
    padding:5px;
    margin: 5px;
}

#controls button#play {
    width:50px;
}

#controls input[type="range"] {
    margin:10px 0px 10px 15px;
    width:600px;
}

#doc {
    margin:30px 50px;
    padding: 96px;
    width:624px;
    height:704px;
    background:white;
    box-shadow: 0 0 3px 2px rgb(226, 227, 229);
    font-size:14.66666666666666666px;
    font-family: Arial;
    color:#000;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    vertical-align:baseline;
    white-space:pre;
}

#doc p {
    margin:0px;
    padding:0px;
    height:20px;
}

#doc p .del, #doc p.del {
    display:none;
}


