body, html {
    width:100%;
    height: 100%;
    margin:0px auto;
}

#vis {
    position: fixed;
    top:0px;
    width: 100%;
    height: 150px;
    text-align:center;
    background:white;
    padding-bottom:25px;
    display:none;

}

.page {
    margin: 20px 20px auto;
    vertical-align: top;
    display:inline-block;
    width: 816px;
    height: 1123px;
    overflow-x:hidden;
}

#content {
    
    padding:102px 96px;
    text-align: left;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    border:1px solid black;
    box-sizing: border-box;
    
}

#content .revision.deleted{
    display:none;
}

#content p {
    display:block;
    margin:0px;
    min-height:13pt;
    cursor: pointer;
}

#content p.highlight {
    background:lightblue;
}

#infobox {
    width:300px;
    position:absolute;
    left:1800px;
    top:50px;
    border: 1px solid black;
    padding:10px;
}

#infobox .rev{
    margin-left:5px;
    font-size: 80%;
}

.infobar {
    margin: 10px 20px auto;
    vertical-align: top;
    display:inline-block;
    width: 816px;
    height: 180px;
    border:1px solid red;
}

#detail {
    
}

#base {

}